<h1>在庫更新</h1>

<form method="post">

    <label>商品名</label><br>
    <input
        type="text"
        name="name"
        value="{{ item['name'] }}"
        required><br><br>

    <label>種類</label><br>

        <select name="category" required>

            <option value="ビール"
                {% if item["category"] == "ビール（缶）" %}selected{% endif %}>
                ビール
            </option>

            <option value="チューハイ"
                {% if item["category"] == "ビール（瓶）" %}selected{% endif %}>
                チューハイ
            </option>

            <option value="ウイスキー"
                {% if item["category"] == "チューハイ" %}selected{% endif %}>
                ウイスキー
            </option>

            <option value="ウイスキー"
                {% if item["category"] == "ウイスキー" %}selected{% endif %}>
                ウイスキー
            </option>

            <option value="ワイン"
                {% if item["category"] == "ワイン" %}selected{% endif %}>
                ワイン
            </option>

            <option value="日本酒"
                {% if item["category"] == "日本酒" %}selected{% endif %}>
                日本酒
            </option>

            <option value="焼酎"
                {% if item["category"] == "焼酎" %}selected{% endif %}>
                焼酎
            </option>

            <option value="ジン"
                {% if item["category"] == "ジン" %}selected{% endif %}>
                ジン
            </option>

            <option value="ウォッカ"
                {% if item["category"] == "ウォッカ" %}selected{% endif %}>
                ウォッカ
            </option>

            <option value="ラム"
                {% if item["category"] == "ラム" %}selected{% endif %}>
                ラム
            </option>

            <option value="テキーラ"
                {% if item["category"] == "テキーラ" %}selected{% endif %}>
                テキーラ
            </option>

            <option value="リキュール"
                {% if item["category"] == "リキュール" %}selected{% endif %}>
                リキュール
            </option>

            <option value="その他"
                {% if item["category"] == "その他" %}selected{% endif %}>
                その他
            </option>

        </select>
    <label>在庫数</label><br>
    <input
        type="number"
        name="stock"
        min="1"
        value="{{ item['stock'] }}"
        required><br><br>

    <label>残量:
        <span id="amountValue">{{ item['amount'] }}</span>%
    </label><br>

    <input
        type="range"
        name="amount"
        id="amount"
        min="0"
        max="100"
        step="20"
        value="{{ item['amount'] }}"
        oninput="amountValue.textContent=this.value">

    <br><br>

    <button type="submit">更新</button>

</form>

<br>

<a href="/inventory">
    <button type="button">一覧へ戻る</button>
</a>