<h1>在庫一覧</h1>

<button onclick="location.href='/register'">
    新規登録
</button>

<button onclick="location.href='/search'">
    在庫検索
</button>

<button onclick="location.href='/recommend'">
    おすすめ表示
</button>

<br><br>

<table border="1">
    <tr>
        <th>商品名</th>
        <th>商品名</th>
        <th>在庫数</th>
        <th>残量</th>
    </tr>

    {% for item in items %}
    
    <tr>
        <td>{{ item["name"] }}</td>
        <td>{{ item["category"] }}</td>
        <td>{{ item["stock"] }}</td>
        <td>{{ item["amount"] }}%</td>
    </tr>
    {% endfor %}
</table>